@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
	font-family: 'Roboto', sans-serif;
	background-color:#FFF;
}




.grayasdgf
{
	background-color: gray;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.marginbottom
{
	margin-bottom: 20px;
}

.fillerdiv
{
	height:100px;
}